<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_university"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UMS"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UMS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".SuperAdminCollegeAdminMainPageActivity"/>
        <activity android:name=".ManageProfileActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".CollegeActivity"/>
        <activity android:name=".CollegeAdminDetailsActivity"/>
        <activity android:name=".CollegeDetailsActivity"/>
        <activity android:name=".DepartmentActivity"/>
        <activity android:name=".DepartmentDetailsActivity"/>
        <activity android:name=".CourseProfessorsListActivity"/>
        <activity android:name=".ProfessorSelectForCourseActivity"/>
        <activity android:name=".CourseDetailsActivity"/>
        <activity android:name=".ProfessorCoursesListActivity"/>
        <activity android:name=".CourseSelectForProfessorActivity"/>
        <activity android:name=".ProfessorDetailsActivity"/>
        <activity android:name=".StudentActivity"/>
        <activity android:name=".StudentTransactionSelectActivity"/>
        <activity android:name=".StudentProfessionalCourseSelectActivity"/>
        <activity android:name=".StudentOpenCourseSelectActivity"/>
        <activity android:name=".OtherDepartmentSelectActivity"/>
        <activity android:name=".StudentProfessorsListActivity"/>
        <activity android:name=".TestRecordsActivity"/>
        <activity android:name=".StudentCourseRecordPageActivity"/>
        <activity android:name=".StudentDetailsActivity"/>
        <activity android:name=".StudentCompletedCourseActivity"/>
        <activity android:name=".StudentCompletedCourseRecordActivity"/>
        <activity android:name=".CourseStudentsListActivity"/>
        <activity android:name=".professorActivities.ProfessorMainPageActivity"/>
        <activity android:name=".ProfessorStudentsListActivity"/>
        <activity android:name=".professorActivities.ProfessorCourseDetailsActivity"/>
        <activity android:name=".studentActivities.StudentMainPageActivity"/>
        <activity android:name=".studentActivities.StudentTestActivity"/>
        <activity android:name=".StudentsProfileCourseRecordActivity"/>
        <activity android:name=".studentActivities.StudentTransactionPage"/>

    </application>

</manifest>